* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.bgContainer {
  background-image: linear-gradient(to bottom, #ff6e7f, #bfe9ff);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  text-align: center;
}
.heading {
  font-family: 'Roboto';
  font-size: 48px;
  color: #0f172a;
  padding: 20px;
}
.para1 {
  color: #334155;
  font-family: 'Roboto';
  font-size: 24px;
  padding: 15px;
}

.incrementBtn {
  background-color: #ffffff;
  font-family: 'Roboto';
  color: #334155;
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 10px 40px;
  margin: 20px 0px;
}
.para2 {
  font-family: 'Roboto';
  color: #334155;
  font-size: 12px;
}
